{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/styles/boutton.css">
    <link rel="stylesheet" href="/assets/styles/login.css">
{% endblock %}

{% block javascripts %}
    {% block importmap %}{{ importmap('boutton') }}{{ importmap('app') }}{% endblock %}
{% endblock %}

{% block body %}

<section class="hero is-fullheight">
    <div class="mt-6 mb-1">
        <div class="container">
            <div class="columns is-centered is-flex is-justify-content-center">
                <div class="column is-5-tablet is-4-desktop is-6-widescreen">

                    <form method="post"  class="box custom-form">
                        <h1 class="title is-3 mb-3 font-weight has-text-white is-flex is-justify-content-center">Se connecter</h1>



                        <div class="field">
                            <label class="label has-text-white" for="inputEmail">Email</label>
                                 <div class="control has-icons-left">
                                     <input type="email" placeholder="bobsmith@gmail.com" class="input custom-input" value="{{ last_username }}" name="mail" id="inputEmail" autocomplete="email" required autofocus>
                                         <span class="icon is-small is-left">
                                             <i class="fa fa-envelope"></i>
                                         </span>
                                 </div>
                        </div>

                        <div class="field">
                            <label  class="label has-text-white" for="inputPassword">Mot de passe</label>
                            <div class="control has-icons-left">
                                <input placeholder="*******" class="input custom-input" type="password" name="motDePasse" id="inputPassword" autocomplete="current-password" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">

                        <div class="field">
                            <label class="checkbox has-text-white">
                                <input class="" type="checkbox" name="_remember_me"> Se souvenir de moi
                            </label>
                        </div>

                        {% if error %}
                            <div class="custom-error mb-3">{{ error }}</div>
                        {% endif %}

                        <div class="field is-flex is-justify-content-center">

                            <button class="" type="submit">
                                <span>Connexion</span>
                            </button>

                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
