{% extends 'base.html.twig' %}

{% block title %}{{sortie.nom}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/styles/affichageSortie.css">
{% endblock %}

{% block body %}
<section class="hero is-fullheight">
    <div class="mt-6 mb-1">
        <div class="container">
            <div class="is-centered is-flex is-justify-content-center">
                <div class="column is-5-tablet is-4-desktop is-6-widescreen">
                    <div  class="box custom-form">

                        <h1 class="title is-3 mb-3 font-weight has-text-white is-flex is-justify-content-center">
                                {{sortie.nom}}</h1>
                        <table class="table custom-table is-flex is-justify-content-center">
                            <tbody>


                                <tr>
                                    <th>Date de la sortie :</th>
                                    <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Durée et heure de la sortie :</th>
                                    <td>{{ sortie.duree }}</td>
                                </tr>
                                <tr>
                                    <th>date limite d'inscription :</th>
                                    <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y H:i') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Nombe de places</th>
                                    <td>{{ sortie.nbInscriptionsMax }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ sortie.infosSortie }}</td>
                                </tr>
                                {% if sortie.raisonAnnulation is not empty %}
                                    <tr>
                                        <th>Motif annulation</th>
                                        <td>{{ sortie.raisonAnnulation }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>Site organisateur</th>
                                    <td>{{ sortie.siteOrganisateur.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Lieu :</th>
                                    <td>{{ sortie.lieu.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Rue :</th>
                                    <td>{{ sortie.lieu.rue }}</td>
                                </tr>
                                <tr>
                                    <th>Code postal :</th>
                                    <td>{{ sortie.lieu.ville.codePostal }}</td>
                                </tr>
                                <tr>
                                    <th>Ville :</th>
                                    <td>{{ sortie.lieu.ville.nom }}</td>
                                </tr>
                                <tr>
                                    <th>latitude :</th>
                                    <td>{{ sortie.lieu.latitude }}</td>
                                </tr>
                                <tr>
                                    <th>longitude :</th>
                                    <td>{{ sortie.lieu.longitude }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="field is-flex is-justify-content-center is-align-items-center">
                        {% if sortie.getOrganisateur.id == app.user.id %}

                            <button class="m-1" onclick="window.location='{{ path('app_sortie_edit', {'id': sortie.id}) }}'">
                                <span>Modifier</span>
                            </button>

                            {{ include('sortie/_delete_form.html.twig') }}

                        {% endif %}
                        <button class="m-1" onclick="window.location='{{ path('app_inscription_participants', {'idSortie': sortie.id}) }}'">
                            <span>Liste des participants</span>
                        </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
